:root {
	--main-font: Roboto, Arial, sans-serif;
	--heading-shadow: 3px 3px 5px #777;
	--subheading-shadow: 0 0 15px #333;
	--border-color: #000;
	--light-bg: #eee;
	--dark-bg: #323A06;
	--box-shadow: 0 0 30px #111;
	--footer-color: navy;
	--font-size-heading: 1.5rem;
	--padding-box: 0.65rem;
}


* {
	margin: 0;
	padding: 0;
}

main {
	max-width: 800px;
	margin: 2rem auto;
	font-family: var(--main-font);
}

h1 {
	text-align: center;
	font-size: var(--font-size-heading);
	text-shadow: var(--heading-shadow);
}

.stats {
	position: absolute;
	bottom: 25px;
	left: 25px;
	background: radial-gradient(var(--light-bg), var(--dark-bg));
	border: 1px solid var(--border-color);
	padding: var(--padding-box);
	box-shadow: var(--box-shadow);
	opacity: 0.9;
}

h2 {
	text-shadow: var(--subheading-shadow);
	border-bottom: 1px solid #555; /* podrías crear una var si lo reutilizas */
	margin-bottom: 0.3rem;
}

footer {
	position: fixed;
	bottom: 0;
	margin: 1rem;
	border-top: 1px solid var(--border-color);
	padding: 0.5rem;
	color: var(--footer-color);
	font-weight: 700;
	font-style: italic;
}
